pandas
beautifulsoup4

tensorflow
tensorflow-addons
tensorflow-hub
tensorflow-text
tensorboard

keras-tuner

# maybe needed in the future, huggingface makes some nice pretrained models
#transformers
#sentencepiece
